.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363434;
  border-radius: 100px;
  font-size: 30px;
  color: white;
  border-width: 0px;
}
.btn:hover {
  background-color: #6b6b6f;
}
.three {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(5, 100px);
  gap: 20px;
  justify-content: center;
  padding-top: 30px;
  font-size: 100px;
  border-width: 30px;
  border-color: black;
  border-radius: 20px;
  color: white;
  height: 620px;
  width: 900px;
  background-color: #5d5c6b;
}
#input {
  width: 880px;
  height: 100px;
  background-color: #5d5c6b;
  border-radius: 30px;
  font-size: 40px;
  color: aliceblue;
  padding: 10px;
}
#input:hover {
  background-color: #6b6b6f;
}
.opbtn{
  background-color: orange;
}